.image img {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid #ededed;
}

.image {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

@media(max-width:590px) {
    .image img {
        height: 210px;
    }
    .image {
        width: 95%;
    }
}